---
Language:                             Cpp
BasedOnStyle:                         LLVM
AccessModifierOffset:                 -4
AlignConsecutiveAssignments:          true
AlignConsecutiveDeclarations:         false
AlignEscapedNewlines:                 Left
AlignOperands:                        false
AllowShortBlocksOnASingleLine:        true
AllowShortFunctionsOnASingleLine:     Inline
AllowShortIfStatementsOnASingleLine:  WithoutElse
AllowShortLambdasOnASingleLine:       None
AllowShortLoopsOnASingleLine:         true
BraceWrapping:
  AfterFunction:                      true
BreakBeforeBraces:                    Custom
BreakConstructorInitializers:         AfterColon
BreakInheritanceList:                 AfterColon
ColumnLimit:                          120
IndentCaseLabels:                     true
IndentWidth:                          4
ObjCBlockIndentWidth:                 4
PenaltyBreakAssignment:               4
ReflowComments:                       false
SpaceAfterCStyleCast:                 false
SpacesBeforeTrailingComments:         4
SpacesInContainerLiterals:            false
Standard:                             Cpp11
TabWidth:                             4
UseTab:                               Never
...
